.editor-container
{
    background: rgb(35 34 31 / 100%) !important;
}

/* normal text and normal link */
*[class="mtk1"],
.detected-link
{
	background: -webkit-linear-gradient(#a6a6a6 50%, white 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-style: normal;
}
/* spaces and tabs */
.mtkz {
    color: #666;
    /* background: hsl(0deg 0% 14%); */
}
/* underline link */
.detected-link
{
    box-shadow: 0 1px 0 #aaa;
}
/* underline link in comment */
.mtki.detected-link 
{
    box-shadow: 0 1px 0 #555;
}
/* underline link in string */
.mtk10.detected-link {
    box-shadow: 0 1px 0 rgb(161 147 18);
}
/* underline link on CTRL hover */
.detected-link-active 
{
    box-shadow: 0 1px 0 #0092bd;
}
/* comments */
.mtk3
{
	background: -webkit-linear-gradient(#555 50%, #888 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-style: normal;
}
/* code instructions (for/while, if/case, export/import/from, operator/comparator, arrow function, percentage sign) */
.monaco-editor .bracket-highlighting-0,
.mtk6
{
	background: -webkit-linear-gradient(#940000 50%, red 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-style: normal;
}
/* bracket type */
.monaco-editor .bracket-highlighting-6,
.monaco-editor .bracket-highlighting-12,
.monaco-editor .bracket-highlighting-18,
.monaco-editor .bracket-highlighting-24,
.monaco-editor .bracket-highlighting-30,
.monaco-editor .bracket-highlighting-36,
.monaco-editor .bracket-highlighting-42,
.monaco-editor .bracket-highlighting-48
{
	background: -webkit-linear-gradient(#ab006b 50%, deeppink 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-style: normal;
}
/* keyword function, data type and declaration of variable */
.mtk7,
.monaco-editor .bracket-highlighting-4,
.monaco-editor .bracket-highlighting-10,
.monaco-editor .bracket-highlighting-16,
.monaco-editor .bracket-highlighting-22,
.monaco-editor .bracket-highlighting-28,
.monaco-editor .bracket-highlighting-34,
.monaco-editor .bracket-highlighting-40,
.monaco-editor .bracket-highlighting-46
{
	background: -webkit-linear-gradient(#0085ad 50%, aqua 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-style: normal;
}
/* hover on link */
.detected-link-active
{
	background: -webkit-linear-gradient(#0085ad 50%, aqua 50%) !important;
	background-clip: text !important;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
	font-style: normal;
}
/* args, dots, comma, semi colon, colon, bracket */
.mtk8,
*[class="mtk12"],
.monaco-editor .bracket-highlighting-1,
.monaco-editor .bracket-highlighting-7,
.monaco-editor .bracket-highlighting-13,
.monaco-editor .bracket-highlighting-19,
.monaco-editor .bracket-highlighting-25,
.monaco-editor .bracket-highlighting-31,
.monaco-editor .bracket-highlighting-37,
.monaco-editor .bracket-highlighting-43,
.monaco-editor .bracket-highlighting-49
{
	background: -webkit-linear-gradient(#d66b00 50%, #ffb619 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-style: normal;
}
/* .monaco-editor .ced-1-TextEditorDecorationType9-1,
.monaco-editor .ced-1-TextEditorDecorationType28-1,
.monaco-editor .ced-1-TextEditorDecorationType67-1
{
	background: -webkit-linear-gradient(gold 50%, darkgoldenrod 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-style: normal;
} */
/* text in string */
.monaco-editor .bracket-highlighting-2,
.monaco-editor .bracket-highlighting-8,
.monaco-editor .bracket-highlighting-14,
.monaco-editor .bracket-highlighting-20,
.monaco-editor .bracket-highlighting-26,
.monaco-editor .bracket-highlighting-32,
.monaco-editor .bracket-highlighting-38,
.monaco-editor .bracket-highlighting-44,
.monaco-editor .bracket-highlighting-50,
.mtk10
{
	background: -webkit-linear-gradient(rgb(161, 147, 18) 50%, khaki 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-style: normal;
}
/* name of function, css class */
.mtk11
{
	background: -webkit-linear-gradient(#007700 50%, limegreen 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-style: normal;
}
/* bracket */
.monaco-editor .bracket-highlighting-3,
.monaco-editor .bracket-highlighting-9,
.monaco-editor .bracket-highlighting-15,
.monaco-editor .bracket-highlighting-27,
.monaco-editor .bracket-highlighting-33,
.monaco-editor .bracket-highlighting-39,
.monaco-editor .bracket-highlighting-21
{
	background: -webkit-linear-gradient(#4d8800 50%, #aeff0b 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-style: normal;
}

/* digits, colors with #, variable const name in JS, boolean, escape character */
.mtk5,
.monaco-editor .bracket-highlighting-5,
.monaco-editor .bracket-highlighting-11,
.monaco-editor .bracket-highlighting-17,
.monaco-editor .bracket-highlighting-23
{
	background: -webkit-linear-gradient(#940094 50%, #a543ff 50%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-style: normal;
}